<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Student registry</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand">Students registry</a>
	  <form class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	</nav>
	
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class="text-center"> Registry of students</h1>
				<div class="card-body">
					<form th:action="@{/students}" th:object="${student}" method="POST">
						<div class="form-group">
							<label>Name : </label>
							<input type="text" name="Name" th:field="*{name}" class="form-control" placeholder="Your name goes here" required>
						</div>
						
						<div class="form-group">
							<label>Last name : </label>
							<input type="text" name="lastname" th:field="*{lastname}" class="form-control" placeholder="Your lastname goes here" required>
						</div>
						
						<div class="form-group">
							<label>Email : </label>
							<input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Your Email goes here" required>
						</div>
						<div class="box-footer">
							<button class="btn btn-success">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>